p{
	text-align: center;
}
#bananananananananananananananananananananananananananananananananananananananananananananannaanananananananananananannanananaanannannannananananananaaannananannannanannananannannnannaannanaannannnanannananaanannananananaannauktjxghsfgsryhglkhpoljgpoclhkptfoljgyhrjy0ojr6tojyhrjtfyghjetdfjkhnolrktnfgholknrltkfghbuegurthioerwuihogrihjebiofhbjwbejfohbjwfiojrbhewfjoribhjefwghriobejrefrhiofbehjhiofebjhgiojbeg{
	color: red;
}
.myclass {
	font-weight: bold;
}
